---
import TagSelector from "@components/TagSelector";
import Container from "@components/container.astro";
import Card from "@components/card.astro";
import Layout from "@layouts/Layout.astro";
import { latestPosts } from "@utils/content";
---

<Layout title="">
  <Container>
    <main>
      <h2
        class="text-2xl font-semibold tracking-tight lg:leading-snug text-brand-primary lg:text-3xl dark:text-white mb-4">
        Latest Articles
      </h2>
      <TagSelector client:visible />
      <div
        id="latest-articles"
        class="grid gap-10 lg:gap-10 md:grid-cols-2 xl:grid-cols-3">
        {latestPosts.map((post) => <Card post={post} aspect="landscape" />)}
      </div>
    </main>
  </Container>
</Layout>

<script>
  document.querySelectorAll("a").forEach((link) => {
    link.addEventListener("click", (e) => {
      const el = e.currentTarget;
      // @ts-ignore
      const img = el.querySelector("img");
      const transitionName = img.style.viewTransitionName;
      const articles = document.querySelectorAll(".article");

      articles.forEach((article) => {
        // @ts-ignore
        article.style.viewTransitionName = "";
        // @ts-ignore
        article.querySelector("img").style.viewTransitionName = "";
      });

      img.style.viewTransitionName = transitionName;
    });
  });
</script>
