---
import Container from "@components/container.astro";
import logoImage from "@assets/logo.svg";
import darkLogo from "@assets/logo-dark.svg";
import { Image } from "@astrojs/image/components";
---

<Container>
  <nav>
    <div class="flex flex-wrap justify-between md:gap-10 md:flex-nowrap">
      <div class="flex items-center justify-between w-full md:w-auto">
        <a class="w-28 dark:hidden" href="/">
          <Image src={logoImage} alt="Logo" />
        </a>

        <a class="hidden w-28 dark:block" href="/">
          <Image src={darkLogo} alt="Logo" />
        </a>
      </div>
    </div>
  </nav>
</Container>
