---
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar.astro";
import "@fontsource/inter/variable.css";
import "../styles/styles.css";

export interface Props {
  title?: string;
  desc?: string;
  ogimage?: string;
}

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Astro View Transitions Blog"
  : "Astro View Transitions Blog";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="view-transition" content="same-origin" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{makeTitle}</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
